
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Products</title>
</head>


<body>
    <br><br>
    <div class="container">

        <div class="card-deck">
            <div class="cards wrapper" style="margin-left:10px">
                <img class="card-img-bottom" src="../../assets/Toyota.jpg" alt="Card image">
                <div class="card-body">
                    <p class="card-text">Toyota Corolla 2003<br>1.4 16v VVT-i Terra<br><b>Kshs 500,000</b>
                    </p>
                    <button class="btn btn-primary" (click)="getName()">ADD TO CART</button> 
                </div>
            </div>
            <div class="cards wrapper" style="margin-left:10px">
                <img class="card-img-bottom" src="../../assets/men.jpg" alt="Card image">
                <div class="card-body">
                    <p class="card-text">Fashion New slippers<br><b>Kshs 850</b>
                    </p>
                    <button class="btn btn-primary" (click)="getName()">ADD TO CART</button> 
                </div>
            </div>
            <div class="cards wrapper" style="margin-left:10px">
                <img class="card-img-bottom" src="../../assets/shoe.jpg" alt="Card image">
                <div class="card-body">
                    <p class="card-text">Generic Men's Sneakers<br> Casual Comfortable<br><b>Kshs 1350</b>
                    </p>
                    <button class="btn btn-primary" (click)="getName()">ADD TO CART</button> 
                </div>
            </div>
            <div class="cards wrapper" style="margin-left:10px">
                <img class="card-img-bottom" src="../../assets/bombe.jpg" alt="Card image">
                <div class="card-body">
                    <p class="card-text">Seagrams Imperial Blue<br> Whiskey - 750ml<br><b>Kshs 715</b>
                    </p>
                    <button class="btn btn-primary" (click)="getName()">ADD TO CART</button> 
                </div>
            </div>
            <div class="cards wrapper" style="margin-left:10px">
                <img class="card-img-bottom" src="../../assets/watch.jpg" alt="Card image">
                <div class="card-body">
                    <p class="card-text">Wlisth Men's Watches Waterproof<br> Quartz Stainless Steel<br><b>Kshs 899</b>
                    </p>
                    <button class="btn btn-primary" (click)="getName()">ADD TO CART</button> 
                </div>
            </div>
        </div>

        <div class="card-deck">
            <div class="wrapper" style="margin-left:10px">
                <img class="card-img-bottom" src="../../assets/arimis.jpg" alt="Card image">
                <div class="card-body">
                    <p class="card-text">Arimis Milking Jelly <br>Skin All Purpose-200g<br><b>Kshs 67</b>
                    </p>
                    <button class="btn btn-primary" (click)="getName()">ADD TO CART</button> 
                </div>
            </div>
            <div class="wrapper" style="margin-left:10px">
                <img class="card-img-bottom" src="../../assets/ball.jpg" alt="Card image">
                <div class="card-body">
                    <p class="card-text">Mikasa Professional <br>Volleyball Balls<br><b>Kshs 2,400</b>
                    </p>
                    <button class="btn btn-primary" (click)="getName()">ADD TO CART</button> 
                </div>
            </div>
            <div class="wrapper" style="margin-left:10px">
                <img class="card-img-bottom" src="../../assets/net.jpg" alt="Card image">
                <div class="card-body">
                    <p class="card-text">Generic Mosquito Net With<br> Metallic Stand, 5X6 - Purple<br><b>Kshs 1,349</b>
                    </p>
                    <button class="btn btn-primary" (click)="getName()">ADD TO CART</button> 
                </div>
            </div>
            <div class="wrapper" style="margin-left:10px">
                <img class="card-img-bottom" src="../../assets/paka.jpg" alt="Card image">
                <div class="card-body">
                    <p class="card-text">Generic Self-Watering for <br>Flowers & Plants<br><b>Kshs 860</b>
                    </p>
                    <button class="btn btn-primary" (click)="getName()">ADD TO CART</button> 
                </div>
            </div>

            <div class="wrapper" style="margin-left:10px">
                <img class="card-img-bottom" src="../../assets/underwear.jpg" alt="Card image">
                <div class="card-body">
                    <p class="card-text">Fashion 6 Pack Satin <br>Silk Panty Women Panties<br><b>Kshs 1,350</b>
                    </p>
                    <button class="btn btn-primary" (click)="getName()">ADD TO CART</button> 
                </div>
            </div>
        </div>

        <div class="card-deck">
            <div class="wrapper" style="margin-left:10px">
                <img class="card-img-bottom" src="../../assets/pumb.jpg" alt="Card image">
                <div class="card-body">
                    <p class="card-text">Generic Knapsack Sprayer <br>20litres Manual SHARPA<br><b>Kshs 2,900</b>
                    </p>
                    <button class="btn btn-primary" (click)="getName()">ADD TO CART</button> 
                </div>
            </div>
            <div class="wrapper" style="margin-left:10px">
                <img class="card-img-bottom" src="../../assets/speaker.jpg" alt="Card image">
                <div class="card-body">
                    <p class="card-text">Desktop Laptop USB <br>Multimedia Speaker<br><b>Kshs 599</b>
                    </p>
                    <button class="btn btn-primary" (click)="getName()">ADD TO CART</button> 
                </div>
            </div>
            <div class="wrapper" style="margin-left:10px">
                <img class="card-img-bottom" src="../../assets/battery.jpg" alt="Card image">
                <div class="card-body">
                    <p class="card-text">Sunnypex Solar Fullkit<br> 100w Solar Panel <br><b>Kshs 12,599</b>
                    </p>
                    <button class="btn btn-primary" (click)="getName()">ADD TO CART</button> 
                </div>
            </div>
            <div class="wrapper" style="margin-left:10px">
                <img class="card-img-bottom" src="../../assets/headset.jpg" alt="Card image">
                <div class="card-body">
                    <p class="card-text">Computer Headset <br>Microphone Computer<br><b>Kshs 778</b>
                    </p>
                    <button class="btn btn-primary" (click)="getName()">ADD TO CART</button> 
                </div>
            </div>

            <div class="wrapper" style="margin-left:10px">
                <img class="card-img-bottom" src="../../assets/mask.jpg" alt="Card image">
                <div class="card-body">
                    <p class="card-text">Protective Face Mask 3ply <br>50pcs Pack<br><b>Kshs 349</b>
                    </p>
                    <button class="btn btn-primary" (click)="getName()">ADD TO CART</button> 
                </div>
            </div>
        </div>
        
    </div>
    <div class="footer">
        <!-- Footer -->
      <footer class="page-footer font-small unique-color-dark pt-4" style="background-color: #1289A7;color: white;">
      
          <!-- Footer Elements -->
          <div class="container">
         
            <!-- Call to action -->
            <ul class="list-unstyled list-inline text-center py-2">
              <li class="list-inline-item">
                <h5 class="mb-1"> Shopping <i class="fas fa-trophy"></i>  <br> made easier</h5>
              </li>
              <li class="list-inline-item">
                <a href="" class="btn btn-outline-white btn-rounded" style="color: black;font-weight: bolder;">Sign up!</a>
              </li>
            </ul>
            <!-- Call to action -->
         
          </div>
          <!-- Footer Elements -->
         
          <!-- Copyright -->
          <div class="footer-copyright text-center py-3">© 2021 Copyright:
            <a href="" style="color: black; text-decoration: none;"> Benjamin Kipkorir, Edwin Kimathi, Don Moses & Halima Yahya</a>
          </div>
          <!-- Copyright -->
         
         </footer>
         <!-- Footer -->
      
    </div>
</body>

</html>