
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap" rel="stylesheet">
    <title>Home</title>
</head>
<body>
    
    <div class="container">
       
        <div class="row">
            <div class="col-md-6">
                <img src="../../assets/images/sok2.png" alt="">
                <!-- <img src="../../assets/images/fl2.jpeg" alt=""> -->
            </div>
            <div class="col-md-6">
                <div class="card" style="min-height:300px;">
                    <div class="card-block">
                        
                        <div class="mask flex-center rgba-black-strong">
                            
                            <h1>Welcome to Soko Online</h1>
                            <p class="text-center">"Value for your money"</p>
                        </div>
                        
                        <div class="card-text">
                            
                        </div>
                        <br>
                       
                    </div>
                </div>
                
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <img src="../../assets/images/sok1.jpeg" alt="">
            </div>
            <div class="col-md-6">
                <div class="card" style="min-height:300px;">
                    <div class="card-block">
                        <h2>Looking for <br> something new <br> Shop with us </h2>
                        
                        <div class="card-text">
                            
                        </div>
                        <br>
                       
                    </div>
                  </div>
            </div>
        </div>
    </div>
    <br>
    <div class="footer">
        <!-- Footer -->
      <footer class="page-footer font-small unique-color-dark pt-4" style="background-color: #1289A7;color: white;">
      
          <!-- Footer Elements -->
          <div class="container">
         
            <!-- Call to action -->
            <ul class="list-unstyled list-inline text-center py-2">
              <li class="list-inline-item">
                <h5 class="mb-1"> Shopping <i class="fas fa-trophy"></i>  <br> made easier</h5>
              </li>
              <li class="list-inline-item">
                <a href="" class="btn btn-outline-white btn-rounded" style="color: black;font-weight: bolder;">Sign up!</a>
              </li>
            </ul>
            <!-- Call to action -->
         
          </div>
          <!-- Footer Elements -->
         
          <!-- Copyright -->
          <div class="footer-copyright text-center py-3">© 2021 Copyright:
            <a href="" style="color: black; text-decoration: none;"> Benjamin Kipkorir, Edwin Kimathi, Don Moses & Halima Yahya</a>
          </div>
          <!-- Copyright -->
         
         </footer>
         <!-- Footer -->
      
      </div>
</body>
</html>